body
	margin: 0
	padding: 0
	font-family: 'Open Sans',Arial,sans-serif
	line-height: 1.2
	font-size: 18px
	color: #fff
	p,h1,h2
		padding: 0
		margin: 0
	a
		color: #fff
		text-decoration: none
		cursor: pointer
	ul
		list-style: none	
	button
		cursor: pointer
	.link
		font-weight: 600
		background-color: #db7c2e
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out
		text-decoration: none
		padding: 20px 40px
		margin-left: 50px
	.container
		width: 1162px
		margin: 0 auto
	section.main
		background: url("/images/three-house-040000_.webp")
		.short-desc
			opacity: 0.95
			background-color: #00352a
			background-position: center center
			width: 603px
			padding: 40px
			margin-bottom: 50px
			.row
				display: flex
				img
					width: 100px
					padding: 0px 20px 20px 0px
				.short-desc-first
					font-size: 31px
					font-weight: 700
			.short-desc-second
				font-size: 22px
				font-weight: 400
		.form-call-link
			font-weight: 600
			border-radius: 30px
			background-color: #db7c2e
			transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out
			text-decoration: none
			padding: 20px 40px
			margin-left: 50px
		.footer-main
			opacity: 0.95
			background-color: #00352a
			margin-top: 285px
			padding: 20px
			h1
				text-align: center
				font-size: 31px
			.list-plus
				display: flex
				position: relative
				margin-top: 30px
				margin-bottom: 30px
				&:after
					content: ""
					background: url("/images/discount.svg")
					background-repeat: no-repeat
					background-position: center
					opacity: 0.15
					top: 0
					left: 0
					bottom: 0
					right: 0
					position: absolute
					z-index: -1
					height: 150px
				.item
					display: flex
					width: 25%
					img
						width: 50px
						height: 50px
						margin-right: 15px
					p
						font-size: 20px
	section.form
		background-color: #00352a
		padding-top: 20px
		padding-bottom: 20px
		.desc
			&>*
				margin-bottom: 15px
			.hide
				display: none
			h3
				margin-top: 80px
			a
				color: #ff8562
				text-decoration: none
				transition: 0.3s ease
				font-size: 16px
		.form-block
			margin-top: 100px
			display: flex
			img
				margin-right: 60px
				object-fit: contain
			form
				h2
					font-size: 36px
					font-weight: 600
					margin-bottom: 30px
					letter-spacing: -0.2px
				input
					color: #fff
					border: 1px solid #ffffff
					background-color: transparent
					font-weight: 400
					height: 50px
					margin: 0
					height: 50px
					padding: 0 20px
					font-size: 16px
					line-height: 1.33
					width: 430px
					-webkit-box-sizing: border-box
					-moz-box-sizing: border-box
					box-sizing: border-box
					outline: none
					-webkit-appearance: none
					border-radius: 0
					margin-bottom: 20px
				button
					color: #fff
					background-color: #db7c2e
					font-weight: 600
					font-size: 14px
					width: 160px
					height: 50px
					padding: 0 15px
					display: block
					outline: none
					border: 0
					cursor: pointer
					margin-bottom: 20px
				p
					font-size: 12px
					line-height: 1.55
					font-weight: 400
	section.youtube
		padding-top: 130px
		padding-bottom: 180px
		.container
			display: flex
			iframe
				&:first-child
					margin-right: 20px
	section.life-for-pleasure
		text-align: center
		margin-bottom: 80px
		h2,p
			color: #00352a
		h2
			margin-bottom: 30px
		.pleasure-desrc
			width: 764px
			margin: auto
			margin-bottom: 50px
		.genplan
			font-weight: 600
			border-radius: 30px
			background-color: #db7c2e
			transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out
			text-decoration: none
			padding: 17px 67px
	section.select-you-house
		background-color: #00352a
		padding-top: 100px
		padding-bottom: 120px
		margin-bottom: 57px
		h2
			text-align: center
			font-size: 68px
		.main-house
			margin-top: 120px
			display: flex
			justify-content: space-between
			.params
				display: flex
				align-items: center
				margin-bottom: 20px
				img
					width: 36px
					margin-right: 30px
				a
					color: #00352a
			p
				max-width: 430px
		h3
			text-align: center
			font-size: 43px
			margin-top: 190px
		.list-house
			display: flex
			flex-wrap: wrap
			.item
				width: 411px
				margin-right: 220px
				margin-bottom: 109px
				min-height: 560px
			.item
				&:nth-child(2n)
					margin-right: 0
				.size
					color: #ffffff
					font-size: 43px
					line-height: 1.2
					font-weight: 700
					margin-bottom: 43px
					text-align: center
				.slide-images	
					width: 411px
					position: relative
					.item-img
						width: 411px
					.second
						display: none
						width: 411px
					.link.slide-desrc
						color: #ffffff
						font-size: 18px
						font-weight: 400
						padding: 9px 8px
						height: 23px
						position: absolute
						bottom: 0px
						margin-left: 50%
						width: 66%
						transform: translateX(-50%)
						text-align: center
					.slide-buttons
						cursor: pointer
						position: absolute
						top: 50%
						transform: translateY(-50%)
						width: 100%
						img
							position: absolute
							width: 30px
							height: 30px
							background-color: rgb(232, 232, 232)
							border-radius: 100%
						img.first-button
							left: 20px
							transform: rotate(180deg)
						img.second-button
							right: 20px
				.slide-click
					margin-top: 20px
					margin-bottom: 10px
					display: flex
					justify-content: center
					cursor: pointer
					.click-orange
						width: 8px
						height: 8px
						background-color: rgb(219, 124, 46)
						border-radius: 100%
						margin-right: 10px
					.click-white
						width: 8px
						height: 8px
						background-color: #ffF
						border-radius: 100%
				.list-desrc
					font-size: 18px
					color: #fff
					font-weight: 300
					text-align: center
					margin-bottom: 21px
					strong
						font-weight: 700
				.link.bnt
					color: #ffffff
					font-size: 18px
					font-weight: 400
					padding: 10px 22px
					margin-left: 134px
	section.slider
		background: #fff
		.slider-title
			color: #00352a
			font-size: 32px
			font-weight: 700
			line-height: 1.55
			margin-bottom: 97px
			text-align: center
		.slider-block
			display: flex
			justify-content: space-around
			.slider-naturele
				width: 760px
				height: 420px
		.slider-block-points
			.points
				background-color: #eee
				width: 8px
				height: 8px
				border-radius: 100px
				transition: all ease-in-out .2s
				cursor: pointer
				&:hover
					background-color: #222
	section.news
		background: #efefef
		padding-top: 45px
		padding-bottom: 90px
		.news-title
			font-weight: 600
			color: #000
			margin-bottom: 20px
			font-size: 42px
			text-align: center
		.news-list
			margin: 0
			display: flex
			flex-wrap: wrap
			padding: 0
			.news-item
				max-width: 360px
				background-color: #ffffff
				margin-right: 20px
				margin-bottom: 90px
			.news-item
				&:nth-child(3n)
					margin-right: 0
				.backgraund-news
					background: url("../images/home-white.webp")
					background-position: center
					background-repeat: no-repeat
					background-size: cover
					margin-bottom: 20px
					height: 268px
				.backgraund-news.block
					background: url("../images/breck.webp")
					background-position: center
					background-repeat: no-repeat
					background-size: cover
					margin-bottom: 20px
					height: 268px
				.backgraund-news.block-bg
					background: url("../images/breck-bg.webp")
					background-position: center
					background-repeat: no-repeat
					background-size: cover
					margin-bottom: 20px
					height: 268px
				.news-info
					padding: 5px 30px 27px
					min-height: 300px
					.news-desrc
						font-size: 20px
						font-weight: 600
						color: #000
						margin-bottom: 20px
					.news-desrciption,
					.news-tel-link
						color: rgba(0,0,0,.9)
						font-size: 14px
						line-height: 1.55
						padding-bottom: 15px
					.news-time
						font-size: 10px
						letter-spacing: 1px
						color: rgba(0,0,0,.5)
						padding-bottom: 25px
					.news-button-bnt
						margin-top: 25px
						.news-bnt
							color: #ffffff
							background-color: #000000
							border: 0
							font-size: 14px
							font-weight: 700
							padding: 15px 30px
		.button-bottom
			display: flex
			flex-direction: column
			align-items: center
		.news-bnt.button
			color: rgb(255, 255, 255)
			background-color: rgb(0, 0, 0)
			font-weight: 700
			font-size: 16px
			border: 0
			padding: 21px 57px


