body
	margin: 0
	padding: 0
	font-family: 'Open Sans',Arial,sans-serif
	line-height: 1.2
	font-size: 18px
	color: #fff
	p,h1,h2,h3
		padding: 0
		margin: 0
	a
		color: #fff
		text-decoration: none
		cursor: pointer
	ul
		list-style: none	
		margin: 0
		padding: 0
	button
		cursor: pointer
	.link
		font-weight: 600
		background-color: #db7c2e
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out
		text-decoration: none
		padding: 20px 40px
		margin-left: 50px
	.container
		width: 1162px
		margin: 0 auto
	section.main
		background: url("/images/three-house-040000_.webp")
		.short-desc
			opacity: 0.95
			background-color: #00352a
			background-position: center center
			width: 603px
			padding: 40px
			margin-bottom: 50px
			.row
				display: flex
				img
					width: 100px
					padding: 0px 20px 20px 0px
				.short-desc-first
					font-size: 31px
					font-weight: 700
			.short-desc-second
				font-size: 22px
				font-weight: 400
		.form-call-link
			font-weight: 600
			border-radius: 30px
			background-color: #db7c2e
			transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out
			text-decoration: none
			padding: 20px 40px
			margin-left: 50px
		.footer-main
			opacity: 0.95
			background-color: #00352a
			margin-top: 285px
			padding: 20px
			h1
				text-align: center
				font-size: 31px
			.list-plus
				display: flex
				position: relative
				margin-top: 30px
				margin-bottom: 30px
				&:after
					content: ""
					background: url("/images/discount.svg")
					background-repeat: no-repeat
					background-position: center
					opacity: 0.15
					top: 0
					left: 0
					bottom: 0
					right: 0
					position: absolute
					z-index: -1
					height: 150px
				.item
					display: flex
					width: 25%
					img
						width: 50px
						height: 50px
						margin-right: 15px
					p
						font-size: 20px
	section.form
		background-color: #00352a
		padding-top: 20px
		padding-bottom: 20px
		.desc
			&>*
				margin-bottom: 15px
			.hide
				display: none
			h3
				margin-top: 80px
			a
				color: #ff8562
				text-decoration: none
				transition: 0.3s ease
				font-size: 16px
		.form-block
			margin-top: 100px
			display: flex
			img
				margin-right: 60px
				object-fit: contain
			form
				h2
					font-size: 36px
					font-weight: 600
					margin-bottom: 30px
					letter-spacing: -0.2px
				input
					color: #fff
					border: 1px solid #ffffff
					background-color: transparent
					font-weight: 400
					height: 50px
					margin: 0
					height: 50px
					padding: 0 20px
					font-size: 16px
					line-height: 1.33
					width: 430px
					-webkit-box-sizing: border-box
					-moz-box-sizing: border-box
					box-sizing: border-box
					outline: none
					-webkit-appearance: none
					border-radius: 0
					margin-bottom: 20px
				button
					color: #fff
					background-color: #db7c2e
					font-weight: 600
					font-size: 14px
					width: 160px
					height: 50px
					padding: 0 15px
					display: block
					outline: none
					border: 0
					cursor: pointer
					margin-bottom: 20px
				p
					font-size: 12px
					line-height: 1.55
					font-weight: 400
	section.youtube
		padding-top: 130px
		padding-bottom: 180px
		.container
			display: flex
			iframe
				&:first-child
					margin-right: 20px
	section.life-for-pleasure
		text-align: center
		margin-bottom: 80px
		h2,p
			color: #00352a
		h2
			margin-bottom: 30px
		.pleasure-desrc
			width: 764px
			margin: auto
			margin-bottom: 50px
		.genplan
			font-weight: 600
			border-radius: 30px
			background-color: #db7c2e
			transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out
			text-decoration: none
			padding: 17px 67px
	section.select-you-house
		background-color: #00352a
		padding-top: 100px
		padding-bottom: 120px
		margin-bottom: 57px
		h2
			text-align: center
			font-size: 68px
		.main-house
			margin-top: 120px
			display: flex
			justify-content: space-between
			.params
				display: flex
				align-items: center
				margin-bottom: 20px
				img
					width: 36px
					margin-right: 30px
				a
					color: #00352a
			p
				max-width: 430px
		h3
			text-align: center
			font-size: 43px
			margin-top: 190px
		.list-house
			display: flex
			flex-wrap: wrap
			.item
				width: 411px
				margin-right: 220px
				margin-bottom: 109px
				min-height: 560px
			.item
				&:nth-child(2n)
					margin-right: 0
				.size
					color: #ffffff
					font-size: 43px
					line-height: 1.2
					font-weight: 700
					margin-bottom: 43px
					text-align: center
				.slide-images	
					width: 411px
					position: relative
					.item-img
						width: 411px
					.second
						display: none
						width: 411px
					.link.slide-desrc
						color: #ffffff
						font-size: 18px
						font-weight: 400
						padding: 9px 8px
						height: 23px
						position: absolute
						bottom: 0px
						margin-left: 50%
						width: 66%
						transform: translateX(-50%)
						text-align: center
					.slide-buttons
						cursor: pointer
						position: absolute
						top: 50%
						transform: translateY(-50%)
						width: 100%
						img
							position: absolute
							width: 30px
							height: 30px
							background-color: rgb(232, 232, 232)
							border-radius: 100%
						img.first-button
							left: 20px
							transform: rotate(180deg)
						img.second-button
							right: 20px
				.slide-click
					margin-top: 20px
					margin-bottom: 10px
					display: flex
					justify-content: center
					cursor: pointer
					.click-orange
						width: 8px
						height: 8px
						background-color: rgb(219, 124, 46)
						border-radius: 100%
						margin-right: 10px
					.click-white
						width: 8px
						height: 8px
						background-color: #ffF
						border-radius: 100%
				.list-desrc
					font-size: 18px
					color: #fff
					font-weight: 300
					text-align: center
					margin-bottom: 21px
					strong
						font-weight: 700
				.link.bnt
					color: #ffffff
					font-size: 18px
					font-weight: 400
					padding: 10px 22px
					margin-left: 134px
	section.slider
		background: #fff
		overflow: hidden
		.slider-title
			color: #00352a
			font-size: 32px
			font-weight: 700
			line-height: 1.55
			margin-bottom: 97px
			text-align: center
		.slider-block
			display: flex
			justify-content: space-around
			position: relative
			.slider-naturele
				width: 760px
				height: 420px
				padding: 0 99px 105px 99px
			.slider-block-points
				position: absolute
				bottom: 130px
				.points
					background-color: #eee
					width: 8px
					height: 8px
					border-radius: 100px
					transition: all ease-in-out .2s
					cursor: pointer
					&:hover
						background-color: #222
	section.news
		background: #efefef
		padding-top: 45px
		padding-bottom: 90px
		.news-title
			font-weight: 600
			color: #000
			margin-bottom: 90px
			font-size: 42px
			text-align: center
		.news-list
			margin: 0
			display: flex
			flex-wrap: wrap
			padding: 0
			.news-item
				max-width: 360px
				background-color: #ffffff
				margin-right: 20px
				margin-bottom: 90px
			.news-item
				&:nth-child(3n)
					margin-right: 0
				.backgraund-news
					background: url("../images/home-white.webp")
					background-position: center
					background-repeat: no-repeat
					background-size: cover
					margin-bottom: 20px
					height: 268px
				.backgraund-news.block
					background: url("../images/breck.webp")
					background-position: center
					background-repeat: no-repeat
					background-size: cover
					margin-bottom: 20px
					height: 268px
				.backgraund-news.block-bg
					background: url("../images/breck-bg.webp")
					background-position: center
					background-repeat: no-repeat
					background-size: cover
					margin-bottom: 20px
					height: 268px
				.news-info
					padding: 5px 30px 27px
					min-height: 300px
					.news-desrc
						font-size: 20px
						font-weight: 600
						color: #000
						margin-bottom: 20px
					.news-description,
					.news-tel-link
						color: rgba(0,0,0,.9)
						font-size: 14px
						line-height: 1.55
						padding-bottom: 15px
					.news-time
						font-size: 10px
						letter-spacing: 1px
						color: rgba(0,0,0,.5)
						padding-bottom: 25px
					.news-button-bnt
						margin-top: 25px
						.news-bnt
							color: #ffffff
							background-color: #000000
							border: 0
							font-size: 14px
							font-weight: 700
							padding: 15px 30px
		.button-bottom
			display: flex
			flex-direction: column
			align-items: center
		.news-bnt.button
			color: rgb(255, 255, 255)
			background-color: rgb(0, 0, 0)
			font-weight: 700
			font-size: 16px
			border: 0
			padding: 21px 57px
	section.best
		margin-top: 275px
		.section-title.best-title
			color: #00352a
			text-align: center
			font-size: 34px
			margin-bottom: 29px
		.best-title-desc
			color: #00352a
			font-size: 20px
			font-weight: 400
			text-align: center
			width: 825px
			margin: auto
			line-height: 1.55
			margin-bottom: 114px
		.best-list
			display: flex
			flex-wrap: wrap
			.best-item
				width: 300px
				margin-right: 131px
				margin-bottom: 105px
			.best-item
				&:nth-child(3n)
					margin-right: 0
				.best-images
					width: 80px
					height: 62px
					padding-bottom: 42px
				.best-images-img
					width: 61px
					padding-bottom: 42px
				.best-item-desc
					color: #db7c2e
					font-size: 25px
					line-height: 1.55
					font-weight: 700
					padding-bottom: 32px
				.best-description
					color: #00352a
					font-size: 14px
					line-height: 1.55
					font-weight: 400
				.best-list-description
					padding-top: 35px
					padding-left: 20px
					list-style: disc
					color: #00352a
					font-size: 14px
					line-height: 1.55
					font-weight: 400
	section.home-dream
		margin-bottom: 40px
		.home-dream-img
			text-align: center
			.home-dream-images
				width: 80px
				height: 94px
		.section-title.home-dream-title
			color: #00352a
			font-size: 34px
			line-height: 1.55
			font-weight: 700
			margin-bottom: 42px
			text-align: center
		.home-dream-title-description
			color: #00352a
			font-size: 20px
			line-height: 1.55
			font-weight: 400
			width: 798px
			text-align: center
			margin: auto
			margin-bottom: 59px
			.home-dream-link
				color: #ff8562
				font-size: 20px
				line-height: 1.55
				font-weight: 400
				text-decoration: underline
				margin-bottom: 60px
		.home-dream-preview
			opacity: 0.8
			background-color: #00352a
			.home-dream-list
				padding: 44px 130px 49px 172px
				display: flex
				flex-wrap: wrap
				.home-dream-item
					display: flex
					flex-wrap: wrap
					padding-right: 130px
				.home-dream-item
					&:nth-child(3n)
						padding-right: 0
				.home-dream-item
					&:first-child
						padding-bottom: 20px
					.home-dream-number
						font-size: 52px
						line-height: 1.55
						font-weight: 700
						color: #ffffff
						padding-right: 34px
					.home-dream-descr
						color: #ffffff
						font-size: 20px
						line-height: 1.25
						font-weight: 400
						width: 136px
						padding-top: 17px
	section.construction
		margin-top: 51px
		margin-bottom: 140px
		.construction-block-img
			margin-bottom: 38px
			text-align: center
			.construction-img
				width: 80px
				height: 80px
		.section-title.construction-title
			color: #000
			font-size: 34px
			line-height: 1.55
			font-weight: 700
			margin-bottom: 39px
			text-align: center
		.construction-title-description
			color: #00352a
			font-size: 20px
			line-height: 1.55
			font-weight: 400
			text-align: center
			width: 798px
			margin: auto
			margin-bottom: 72px
		.construction-choice
			width: 760px
			margin: auto
			margin-bottom: 75px
			.construction-choice-list
				border: 1px solid #222222
				height: 67px
				display: flex
				justify-content: space-around
				.construction-choice-item.active
					background: #00352a
					.construction-choice-link
						color: #fff
				.construction-choice-item
					border-right: 1px solid #222
					padding: 13px 21px
					display: flex
					align-items: center
					text-align: center
					cursor: pointer
				.construction-choice-item
					&:last-child
						border: 0
					.construction-choice-link
						color: #000000
						font-size: 14px
						font-weight: 400
		.construction-choice-block-link
			.construction-choice-block
				display: none
			.construction-choice-block.active
				display: flex
				.construction-choice-image
					margin-right: 40px
					.construction-image
						width: 660px
					.construction-image.none
						width: 660px
						display: none
					.slide-buttons
						position: absolute
						top: 50%
						transform: translateY(-50%)
						width: 100%
						.first-button,
						.second-button
							position: absolute
							width: 30px
							height: 30px
							background-color: #e8e8e8
							border-radius: 100%
						.first-button
							transform: rotate(180deg)
							left: 20px
						.second-button
							right: 20px
				.construction-choice-description
					width: 360px
					.construction-description
						font-weight: 700
						margin-bottom: 18px
						font-size: 24px
						line-height: 1.35
						color: #000
					.construction-description-descr
						margin-bottom: 42px
					.construction-description-descr,
					.construction-description-descr-text
						font-weight: 400
						color: #000
						font-size: 16px
						line-height: 1.55
					.construction-description-list
						list-style: decimal
						.construction-description-item
							font-weight: 400
							color: #000
							font-size: 16px
							line-height: 1.55
							margin-left: 20px
	section.payment
		background: #00352a
		.section-title.payment-title
			font-weight: 700
			font-size: 43px
			line-height: 1.2
			padding-top: 34px
			padding-bottom: 56px
			text-align: center
		.payment-title-description
			color: #ffffff
			line-height: 1.55
			font-weight: 400
			font-size: 20px
			width: 843px
			margin: auto
			text-align: center
			padding-bottom: 86px
		.payment-options
			padding-bottom: 77px
			.payment-list
				display: flex
				justify-content: space-evenly
				.payment-item
					display: flex
					&:first-child
						.payment-descr
							padding-top: 13px
					.payment-number
						font-weight: 700
						font-size: 88px
						color: #fff
						padding-right: 21px
						opacity: 0.3
					.payment-descr
						font-weight: 700
						line-height: 1.2
						font-size: 43px
						width: 326px
						padding-top: 31px
						
	section.map
		height: 900px
		&>ymaps
			width: 100%
			position: absolute
			height: 900px!important
		.map-info
			position: relative
			top: 120px
			background: #fff
			padding: 57px 0 24px 60px
			width: 460px
			.section-title.map-title
				font-size: 28px
				line-height: 1.17
				color: #000
				font-weight: 700
				padding-bottom: 40px
			.map-description
				font-weight: 400
				color: #000
				font-size: 18px
				line-height: 1.55
				padding-bottom: 40px
				width: 340px
			.map-descr
				padding-bottom: 40px
				font-weight: 400
				color: #000
				font-size: 18px
				line-height: 1.55
				width: 340px
			.map-link-email
				display: flex
				flex-direction: column
				.map-link,
				.map-email
					font-size: 18px
					font-weight: 400
				.map-link
					padding-bottom: 16px
					color: #000
				.map-email
					padding-bottom: 40px
					color: #ff8562

	section.footer
		background: #00352a
		.footer-flex
			padding-top: 56px
			display: flex
			justify-content: space-between
			.footer-left
				padding-right: 127px
				.footer-icon
					padding-bottom: 42px
					.footer-left-logo
						width: 78px
						padding-right: 32px
					.footer-left-logotip
						width: 174px
						height: 39px
				.footer-left-list
					.footer-left-item
						padding-bottom: 39px
						&:nth-child(2n)
									padding-bottom: 0
						.footer-left-link
							color: #ff8562
							font-size: 16px
							font-weight: 400
							line-height: 1.55
			.footer-center
				display: flex
				.footer-center-list
					padding-right: 119px
					.footer-center-item
						padding-bottom: 40px
						.footer-center-link
							font-size: 16px
							line-height: 1.55
							font-weight: 400
							color: #ff8562
				.footer-center-list-ul
					padding-bottom: 40px
					.footer-center-item
						padding-bottom: 40px
						.footer-center-link
							font-size: 16px
							line-height: 1.55
							font-weight: 400
							color: #ff8562
			.footer-right
				padding-bottom: 41px
				.footer-right-link
					display: flex
					flex-direction: column
					padding-bottom: 33px
					.footer-right-tel
						padding-bottom: 15px
						font-size: 15px
					.footer-right-mail
						color: #ff8562
						font-size: 15px
				.footer-right-block
					padding-bottom: 33px
					.footer-right-descr
						font-size: 15px
						padding-bottom: 37px
					.footer-right-address
						font-style: normal
						font-size: 15px
				.footer-right-bottom
					padding-bottom: 20px
					.footer-bottom-descr
						padding-bottom: 13px
						font-size: 15px
					.footer-bottom-description
						font-size: 15px
			.footer-right-icon
				display: flex
				justify-content: space-between
				.footer-right-icon
					width: 32px
				.footer-right-icon-vk
					width: 41px
		.footer-bottom-small
			display: flex
			flex-direction: row-reverse
			padding-bottom: 47px
			.footer-small
				font-size: 13px
						




								
									








			




